# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Odoo
*.pot
*.pyc
*.pyo
*.pyd

# Node
node_modules/
package-lock.json
yarn.lock

# Build
static/src/css/*.min.css
static/src/js/*.min.js
